body{
    color:#a5dcee !important;
}

button{
    background-color: #0055ff !important;
    border-color: black !important;
    font-weight: bold !important;
}

button:hover{
    transform: scale(1.2);
}

#contacto{
    border: 5px solid #a5dcee;
    background-color: #22429a;
    border-radius: 10px;
}

#recursos{
    border: 5px solid #a5dcee;
    background-color: #22429a;
    border-radius: 10px;
}

a{
    color: orange !important;
}

a:hover{
    color: orangered !important;
}